[ng-click] {
  cursor: pointer;
}

main.container {
  margin-bottom: 4em;
}

.add-button {
  position: absolute;
  bottom: -4em;
}

.calc-display {
  text-align: center;
  top: 3em;
}

.test-animate.ng-animate{
  transition:0.5s linear all;
}

@media screen and (max-width:767px) {
  .calc-display {
    text-align: center;
    top: 0;
  }
}

.has-error {
  color: red;
}

.alert{
  position: fixed;
  margin-top: 1em;
  z-index: 100;
}
