[ng-click] {
  cursor: pointer;
}

main.container {
  margin-bottom: 4em;
}

.add-button {
  position: absolute;
  bottom: -4em;
  left: -.5em;
}

.calc-display {
  text-align: center;
  top: 3em;
}

@media screen and (max-width:767px) {
  .calc-display {
    text-align: center;
    top: 0;
  }
  .add-button{
    position: relative;
    bottom: 0;
  }
}

.has-error {
  color: red;
}

.alert{
  position: fixed;
  margin-top: 1em;
  z-index: 100;
}

.trash-input{

}
