<main class="container">
  <div class="row">
<div class="col-lg-6">

<h2 class="test-animate">Revenue</h2>
<div class="row">
  <form novalidate name="$ctrl.newRevenueForm" ng-submit="$ctrl.submitNewItem($ctrl.allRev, $ctrl.newRev)">
    <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label for="descriptionRevenueInput" ng-class="{'has-error': ($ctrl.newRevenueForm.descriptionRevenueInput.$invalid && $ctrl.newRevenueForm.descriptionRevenueInput.$touched) || ($ctrl.newRev.oneTime != undefined) && ($ctrl.newRev.monthly != undefined)}">Description </label>
        <input class="form-control" name="descriptionRevenueInput"  id="descriptionRevenueInput" placeholder="Description" ng-model="$ctrl.newRev.description" required ng-minlength="3">
      </div>
    <div class="form-group col-xs-5 col-sm-3 col-md-3 col-lg-3">
        <label for="oneTimeRevenueInput">One Time </label>
        <input type="number" name="oneTimeRevenueInput" class="form-control" id="oneTimeRevenueInput" placeholder="One Time Revenue" ng-model="$ctrl.newRev.oneTime" required>
      </div>
    <div class="form-group col-xs-5 col-sm-3 col-md-3 col-lg-3">
        <label for="monthlyRevenueInput">Monthly Revenue</label>
        <input type="number" class="form-control" id="monthlyRevenueInput" placeholder="Monthly Revenue" ng-model="$ctrl.newRev.monthly" required>
      </div>
      <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <button type="submit" class="btn btn-primary add-button" ng-disabled="$ctrl.newRevenueForm.$invalid">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
  </form>
</div>

  <table class="table table-hover">

  <thead>
    <tr>
      <th>Description</th>
      <th>One Time</th>
      <th>Monthly</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $ctrl.allRev">
      <td>{{item.description}}</td>
      <td>$ {{item.oneTime}}</td>
      <td>$ {{item.monthly}}</td>
      <td ng-click="$ctrl.removeLine($ctrl.allRev, item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
    </tr>
  </tbody>

</table>
</div>

<div class="col-lg-6">

<h2>Expenses</h2>
<div class="row">
  <form novalidate name="$ctrl.newExpenseForm" ng-submit="$ctrl.submitNewItem($ctrl.allExpense, $ctrl.newExpense)">
    <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
        <label for="descriptionExpenseInput">Description </label>
        <input class="form-control" id="descriptionExpenseInput" placeholder="Description" ng-model="$ctrl.newExpense.description" required ng-minlength="3">
      </div>
    <div class="form-group col-xs-5 col-sm-3 col-md-3 col-lg-3">
      <label for="one-timeExpenseInput">One Time </label>
        <input type="number" class="form-control" id="one-timeExpenseInput" placeholder="One Time Expense" ng-model="$ctrl.newExpense.oneTime" ng-required="$ctrl.newExpense.monthly != undefined">
      </div>
    <div class="form-group col-xs-5 col-sm-3 col-md-3 col-lg-3">
        <label for="monthlyExpenseInput">Monthly Revenue</label>
        <input type="number" class="form-control" id="monthlyExpenseInput" placeholder="Monthly Expense" ng-model="$ctrl.newExpense.monthly" ng-required="$crl.newExpense.oneTime != undefined">
      </div>
      <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
        <button type="submit" class="btn btn-primary add-button" ng-disabled="$ctrl.newExpenseForm.$invalid">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
      </div>
  </form>
</div>

  <table class="table table-hover">

  <thead>
    <tr>
      <th>Description</th>
      <th>One Time</th>
      <th>Monthly</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="item in $ctrl.allExpense">
      <td>{{item.description}}</td>
      <td>$ {{item.oneTime}}</td>
      <td>$ {{item.monthly}}</td>
      <td><span ng-click="$ctrl.removeLine($ctrl.allExpense, item)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
    </tr>
  </tbody>

</table>
</div>

</div>

<div class="row">

  <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
<h2>Totals</h2>

<table class="table">


<thead>
  <tr>
    <th></th>
    <th>One Time</th>
    <th>Monthly</th>
    <th>Total</th>
  </tr>
</thead>
<tbody>
  <tr>
    <td>Revenue</td>
    <td>$ {{$ctrl.totalOneTimeRevenue}}</td>
    <td>$ {{$ctrl.totalMonthlyRevenue}}</td>
    <td>$ {{$ctrl.totalRevenue}}</td>
  </tr>
  <tr>
    <td>Expenses</td>
    <td>$ {{$ctrl.totalOneTimeExpense}}</td>
    <td>$ {{$ctrl.totalMonthlyExpense}}</td>
    <td>$ {{$ctrl.totalExpense}}</td>
  </tr>
  <tr>
    <td></td>
    <td>Contribution Profit</td>
    <td>$ {{$ctrl.monthlyContributionProfit}}</td>
    <td>$ {{$ctrl.contributionProfit}}</td>
  </tr>
</tbody>

</table>
</div>

<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 calc-display">

<br>
<h4>Total Contribution Profit ${{$ctrl.contributionProfit}}</h4>
<br>
<h4>Contribution Margin {{$ctrl.contributionMargin}}%</h4>
<br>
<h4>Captial ROI (Months) = {{$ctrl.capitalROI}}</h4>

</div>
