<main class="container">
  <div class="row">
    <div class="col-lg-6">

      <h2 class="test-animate">Revenue</h2>
      <div class="row">
        <form novalidate name="newRevenueForm" ng-submit="$ctrl.submitNewRevenue()">
          <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label for="descriptionRevenueInput">Description
             </label>
            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Must be at least one character long and no more than 30 characters." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input class="form-control" name="descriptionRevenueInput" id="descriptionRevenueInput" placeholder="Description" ng-model="$ctrl.newRev.description" ng-click="$ctrl.resetErrors('revenue')" maxlength="30">
            <p ng-if="$ctrl.revenueErrors.description" class="alert alert-danger">Invalid description</p>
          </div>
          <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <label for="oneTimeRevenueInput">One Time </label>
            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Cannot be a negative number, cannot include letters,  decimals cannot exceed 2 places and cannot be over 1 billion per input." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input type="number"
             name="oneTimeRevenueInput" class="form-control" id="oneTimeRevenueInput" placeholder="One Time Revenue" ng-model="$ctrl.newRev.oneTime" ng-click="$ctrl.resetErrors('revenue')">
            <p ng-if="$ctrl.revenueErrors.atLeastOne || $ctrl.revenueErrors.correctInput" class="alert alert-danger">Invalid Input(s)</p>
          </div>
          <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <label for="monthlyRevenueInput">Monthly</label>
            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Cannot be a negative number, cannot include letters,  decimals cannot exceed 2 places and cannot be over 1 billion per input." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input type="number" class="form-control" id="monthlyRevenueInput" placeholder="Monthly Revenue" ng-model="$ctrl.newRev.monthly" ng-click="$ctrl.resetErrors('revenue')">
          </div>
          <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="submit" class="btn btn-primary add-button">
          <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
          </div>
        </form>
        <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-0" ng-click="$ctrl.resetInput('revenue')">
          <button class="btn btn-primary add-button">
          <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
        </button>
        </div>
      </div>

      <table class="table table-hover">

        <thead>
          <tr>
            <th>Description</th>
            <th>One Time</th>
            <th>Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.allRev">
            <td>{{item.description}}</td>
            <td>{{item.oneTime | currency}}</td>
            <td>{{item.monthly | currency}}</td>
            <td ng-click="$ctrl.removeLine($ctrl.allRev, item)"><span class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-lg-6">

      <h2>Expenses</h2>
      <div class="row">
        <form novalidate name="$ctrl.newExpenseForm" ng-submit="$ctrl.submitNewExpense()">
          <div class="form-group col-xs-12 col-sm-4 col-md-4 col-lg-4">
            <label for="descriptionExpenseInput">Description </label>
            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Must be at least one character long and no more than 30 characters." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input class="form-control" id="descriptionExpenseInput" placeholder="Description" ng-model="$ctrl.newExpense.description" ng-minlength="3" ng-click="$ctrl.resetErrors('expense')" maxlength="30">
            <p ng-if="$ctrl.expenseErrors.description" class="alert alert-danger">Invalid description</p>
          </div>
          <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <label for="one-timeExpenseInput">One Time </label>
            <button type="button" class="btn btn-link" data-toggle="tooltip" data-placement="bottom" title="Cannot be a negative number, cannot include letters,  decimals cannot exceed 2 places and cannot be over 1 billion per input." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input type="number" class="form-control" id="one-timeExpenseInput" placeholder="One Time Expense" ng-model="$ctrl.newExpense.oneTime" ng-required="$ctrl.newExpense.monthly != undefined" ng-click="$ctrl.resetErrors('expense')">
            <p ng-if="$ctrl.expenseErrors.atLeastOne || $ctrl.expenseErrors.correctInput" class="alert alert-danger">Invalid Input(s)</p>
          </div>
          <div class="form-group col-xs-6 col-sm-3 col-md-3 col-lg-3">
            <label for="monthlyExpenseInput">Monthly </label>
            <button type="button" class="btn btn-link info-icon" data-toggle="tooltip" data-placement="bottom" title="Cannot be a negative number, cannot include letters,  decimals cannot exceed 2 places and cannot be over 1 billion per input." onmouseenter="$(this).tooltip('show')"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span></button>
            <input type="number" class="form-control" id="monthlyExpenseInput" placeholder="Monthly Expense" ng-model="$ctrl.newExpense.monthly" ng-required="$crl.newExpense.oneTime != undefined" ng-click="$ctrl.resetErrors('expense')">
          </div>
          <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1">
            <button type="submit" class="btn btn-primary add-button">
              <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
            </button>
          </div>
        </form>
        <div class="form-group col-xs-1 col-sm-1 col-md-1 col-lg-1 col-xs-offset-1 col-sm-offset-0" ng-click="$ctrl.resetInput('expense')">
          <button class="btn btn-primary add-button">
              <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
            </button>
        </div>
      </div>

      <table class="table table-hover">

        <thead>
          <tr>
            <th>Description</th>
            <th>One Time</th>
            <th>Monthly</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="item in $ctrl.allExpense">
            <td>{{item.description}}</td>
            <td>{{item.oneTime | currency}}</td>
            <td>{{item.monthly | currency}}</td>
            <td><span ng-click="$ctrl.removeLine($ctrl.allExpense, item)" class="glyphicon glyphicon-trash" aria-hidden="true"></span></td>
          </tr>
        </tbody>

      </table>
    </div>

  </div>

  <div class="row">

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
      <h2>Totals</h2>

      <table class="table">


        <thead>
          <tr>
            <th></th>
            <th>One Time</th>
            <th>Monthly</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>Revenue</td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Sum of all one time revenues." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalOneTimeRevenue | currency}}</a>
              </td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Sum of all monthly revenues." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalMonthlyRevenue | currency}}</a>
              </td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Total monthly revenues multiplied by 12 months then added to total one time revenues." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalRevenue | currency}}</a>
              </td>
          </tr>
          <tr>
            <td>Expenses</td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Sum of all one time expenses." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalOneTimeExpense | currency}}</a>
              </td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Sum of all monthly expenses." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalMonthlyExpense | currency}}</a>
              </td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Total monthly expenses multiplied by 12 months then added to total one time expenses." onmouseenter="$(this).tooltip('show')">{{$ctrl.totalExpense | currency}}</a>
              </td>
          </tr>
          <tr>
            <td></td>
            <td>Contribution Profit</td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Total monthly revenue - total monthly expense." onmouseenter="$(this).tooltip('show')" >{{$ctrl.monthlyContributionProfit | currency}}</a>
              </td>
            <td>
              <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="top" title="Total Revenue minus Total Expenses." onmouseenter="$(this).tooltip('show')" >{{$ctrl.contributionProfit | currency}}</a>
              </td>
          </tr>
        </tbody>

      </table>
    </div>

    <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6 calc-display total-border">

      <br>
      <h4>Total Contribution Profit <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="right" title="Total Revenue minus Total Expenses." onmouseenter="$(this).tooltip('show')" >{{$ctrl.contributionProfit | currency}}</a></h4>
      <br>
      <h4>Contribution Margin <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="right" title="Total Contribution Profit divided by Total Revenue." onmouseenter="$(this).tooltip('show')" >{{$ctrl.contributionMargin}}%</a></h4>
      <br>
      <h4>Captial ROI (Months) = <a type="button" class="number-descriptions" data-toggle="tooltip" data-placement="right" title="One-Time Expenses minus One-Time Revenue then divided by Monthly Contribution Profit." onmouseenter="$(this).tooltip('show')" >{{$ctrl.capitalROI}}</a></h4>

    </div>
  </div>

  <button type="button" class="btn btn-link" data-toggle="modal" data-target="#myModal" ng-click="$ctrl.easterEgg = !$ctrl.easterEgg">Help</button>

  <!-- Modal -->
  <div id="myModal" class="modal fade" role="dialog" data-keyboard="false" data-backdrop="static">
    <div class="modal-dialog">

      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button ng-click="$ctrl.easterEgg = !$ctrl.easterEgg" type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Never Going to Give You Up</h4>
        </div>
        <div class="modal-body">

          <iframe ng-if="$ctrl.easterEgg" width="560" height="315" src="https://www.youtube.com/embed/dQw4w9WgXcQ?autoplay=1&cc_load_policy=1" frameborder="0" allowfullscreen></iframe>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="$ctrl.easterEgg = !$ctrl.easterEgg">Close</button>
        </div>
      </div>

    </div>
  </div>

</main>
